<div id='header_content'>
  <%= link_to image_tag(RefinerySetting.get(:site_logo)), root_url(:only_path => true) %>
  <%= render :partial => "/shared/menu",
             :locals => {
               :dom_id => 'menu',
               :css => 'menu'
             } -%>
</div>
